@model ProjetoWebProver.Models.Armadura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Armadura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanoAbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanoAbs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personagem.ItemIni)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
