@model IEnumerable<ProjetoWebProver.Models.Personagem>

@{
    ViewData["Title"] = "Seus Personagens...";
}

<h1>Seus Personagens...</h1>

<p>
    <a asp-action="Create" id="btnc-Criar" onclick="audio.play();">Criar um Novo Personagem </a>
    <script type="text/javascript">
        const audio = new Audio();
        audio.src ="C:\Users\Mateu\Music\ProjetoWebProver\Dark Souls Audio Files\Dark Souls Audio Files\fsb.frpg_main/CURSOL_OK.wav"
    </script>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemIni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Armaduras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Armas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atributos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poderes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemIni)
            </td>
            @foreach (var item2 in item.Armaduras)
            {
                <td>
                    @item2.Qual
                </td>

            }
            @foreach (var item2 in item.Armas)
            {
                <td>
                    @item2.Qual
                </td>

            }
            @foreach (var item2 in item.Atributos)
            {
                <td>
                    @item2.Inteligencia
                </td>

            }
            @foreach (var item2 in item.Poderes)
            {
                <td>
                    @item2.Pod
                </td>

            }

            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-area="" asp-controller="Home" asp-action="InicioLog">Voltar</a>
</div>