@model IEnumerable<ProjetoWebProver.Models.Poder>

@{
    ViewData["Title"] = "Poderes...";
}

<h1>Poderes</h1>

<p>
    <a asp-action="Create">Criar Novo Poder</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personagem.ItemIni)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-area="" asp-controller="Home" asp-action="InicioLog">Voltar</a>
</div>
<style>
    .a{
        color:red;
    }
</style>