@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
}

@*<h1>@ViewData["Title"]</h1>*@

<div class="text-center3" id="teste">
    <h1 class="display-2"> Ah! então você é novo por aqui ? eu sabia! ha ha ha ! ! !.....</h1>
    <h1 hidden class="text">Muito bem, registre-se para que possamos começar então!</h1>

</div>


<script>
    window.onload = (function () {
        let elementH1 = document.querySelectorAll('.text');
        let index = 0;
        $('#teste').click(function () {
            if (elementH1.length > index) {
                let display2 = document.querySelectorAll('.display-2');
                for (var i = 0; i < display2.length; i++) {
                    display2[i].classList.add('hidden');
                }
                elementH1[index].removeAttribute('hidden');
                elementH1[index].classList.add('display-2')
            }

            index++
        });
    });

    function dalle(data) {

    }
</script>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @*<h4>Cria sua conta.</h4>*@
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        @*<section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>*@
    </div>
</div>
<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>
    .form-control{
        background-color:rgba(12,12,12,0.1);
    }
</style>